<?php
$allMesages = $data;
//var_dump($_FILES);
?>

<form enctype="multipart/form-data" action="indexAdmin" method="post">
    <label for="text"><b>Message</b></label>
    <input type="text" placeholder="Enter Text" name="text" required>
    <input name="userfile" type="file" /><br>
    <button type="submit" class="registerbtn">Send</button>
</form>

<form action="indexAdmin" method="GET">
    <ul>
        {% for message in allMessages %}
            <li>
                <input name="{{ message.id }}>" type="submit" value="Удалить">
                <pre>{{ message.text }}</pre>
                <pre>{{ message.date }}</pre>
                <pre>{{ message.name }}</pre>
                {% for image in allIdWithImages %}
                    {% if image.id == message.id %}
                        <img src="/images/{{ message.id }}.jpg" alt="pic">
                    {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
</form>

<style>
    li {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
    }
</style>